<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
</head>
<body>
    <h1>요청방식</h1>

    <!-- test1 을 get 방식으로 요청한다 -->
    <a href="/test1">test1 get 방식</a><br/>


    <!-- form 태그를 이용해 get 방식으로 요청한다 -->
    <form action="/test1" method="get">
        <button type="submit">test1 get 방식</button>
    </form>


    <!-- form 태그를 이용해 post 방식으로 요청한다. -->
    <form action="/test1" method="post">
        <button type="submit">test1 post 방식</button>
    </form>

    <hr/>


    <a href="/test2">test2 get 방식</a><br/>
    <form action="/test2" method="post">
        <button type="submit">test2 post 방식</button>
    </form>


    <hr/>
    <a href="/test3">test3 get 방식</a><br/>
    <form action="/test3" method="post">
        <button type="submit">test3 post 방식</button>
    </form>

    <hr/>
    <a href="/test4">test4 get 방식</a><br/>
    <form action="/test4" method="post">
        <button type="submit">test4 post 방식</button>
    </form>


</body>
</html>