<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index.html</title>
</head>
<body>
    <h1>08_파라미터</h1>

    <a href="/test1?data1=100&data2=200&data3=300">get 요청</a><br/>

    <hr/>

    <form action="/test2" method="post">
        data1 : <input type="text" name="data1"/><br/>
        data2 : <input type="text" name="data2"/><br/>
        data3 : <input type="text" name="data3"/><br/>
        <button type="submit">post 요청 test2</button>
    </form>

    <hr/>

    <form action="/test3" method="post">
        data1 : <input type="text" name="data1"/><br/>
        data2 : <input type="text" name="data2"/><br/>
        data3 : <input type="text" name="data3"/><br/>
        <button type="submit">post 요청 test3</button>
    </form>

</body>
</html>